---
layout: default
title: autumn:AlwaysHappYoung
---

<div class="home" id="home">
  <h1 class="pageTitle">prologue</h1>
  <ul class="posts noList">
      <li>
        <h3>Profile</h3>
        <p>김가영(金佳英)</p>
        <p>1996년 9월 7일</p>
        <p>동서대학교 컴퓨터공학부 졸업</p>
        <p>kimgayoung1230@gmail.com</p>

        <h3>Skill</h3>
        <p>C언어</p>
        <p>JAVA</p>
        <p>HTML,CSS,JavaScript,jQuery</p>
        <p>Node.js</p>

        <h3>Certificate</h3>
        <p>OCJP,2017</p>

        <h3>Research project</h3>
        <p>학부생 연구프로그램(URP) - 홀로그래픽 디스플레이를 활용한 헬스 케어 서비스</p>

        <h3>Thesis</h3>
        <p>음성 및 텍스트 상호변환을 이용한 상담 관리 시스템의 개발</p>
      </li>
      {% for post in paginator.posts %}
        <li>
          <h3><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
          <p>{% if post.description %}{{ post.description }}{% else %}{{ post.excerpt | strip_html }}{% endif %}</p>
        </li>
      {% endfor %}
  </ul>

  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous button__outline">Newer Posts</a>
    {% endif %}
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="next button__outline">Older Posts</a>
    {% endif %}
  </div>
</div>
